<!doctype html>
<html>
<head>
<!-- CSS -->
<style type="text/css">
html { background: url(/static/img/bg.jpg) fixed;
       background-size: cover;
       font-family: verdana;
      }
.tablestyle { background: rgba(30,30,30,0.9);
       color: rgb(255,255,255);
}
.tablestyle2 { background: rgba(50,50,50,0.9);
      color: rgb(255,255,255);
}
a:link{ color: white; text-decoration: none; }
a:visited{ color: white; text-decoration: none; }
a:hover{color: white; text-decoration: underline; }
a:active{color: white; text-decoration: underline; }

body { margin:0; padding0;}
.lab { font-size: 12px ; }
</style>
<title> 
CourseWork 1 || Advaced Web Tech || Best selling Albums in History
</title>
</head>
  <body>
    <table class="tablestyle" width="100%" height="100" align="center">
      <td>
        <form action="/list/filter/" method="post" name"posform">
        <table width="1000" style="margin:auto;">
        <tr>
          <td>
            <label for="frompos" class="lab"> from postion </label><br>
            <input type="number" name="frompos" id="frompos" min="1"
            max="3000"/>
          </td>
          <td>
          </td>
          <td>
            <label for="fromyear" class="lab"> from year </label><br>
            <input type="number" name="fromyear" id="fromyear" min="1900"
            max="2100" />
          </td>
        </tr>
        <tr>
          <td>
            <label for="topos" class="lab"> to position </label><br>
            <input type="number" name="topos" id="topos" min="1" max="3000"/>
          </td>
          <td>
            <label for="searchfield" class="lab">Artist / Album name</label><br>
            <input type"text" name="searchfield" id"searchfield"/>
          </td>
          <td>
            <label for="toyear" class="lab">to year</label><br>
            <input type="number" name="toyear" id="toyear" min="1900" max="2100" />
          </td>
          <td>
            <input type="submit" name="submit" id="submit" value="Filter"/>
          </td>
        </tr>
        </table>
        </form>
      </table>
    </td>
    </table>
    <br>
    {% block content %} {% endblock %}
  </body>
</html>
