<!doctype html>
{% extends "base.html" %}
{% block content %}
<table align="center" cellpadding="10">
  <tr class="tablestyle">
    <td align="center" width="50">Position</td>
    <td align="center" width="350">Artist</td>
    <td align="center" width="400">Albumname</td>
    <td align="center" width="100">Release Year</td>
    <td align="center" width="100">Total Score</td>
    <td align="center" width="100"><img src="/static/img/flag_usa.jpg"></td>
    <td align="center" width="100"><img src="/static/img/flag_brit.jpg"></td>
    <td align="center" width="100"><img src="/static/img/flag_eur.jpg"></td>
    <td align="center" width="100"><img src="/static/img/flag_world.jpg"></td>
  <tr class="tablestyle2">
    <td> {{ album.pos }} </td>
    <td> {{ album.artist }} </td>
    <td> {{ album.name }} </td>
    <td> {{ album.year }} </td>
    <td> {{ album.final_score }} </td>
    <td> {{ album.usa }} </td>
    <td> {{ album.eng }} </td>
    <td> {{ album.eur }} </td>
    <td> {{ album.raw }} </td>
  </tr>
</table>
{% endblock %}
