<!doctype html>
{% extends "base.html"%}
{% block content %}
<table align="center" cellpadding="5" width="1000">
  <tr class="tablestyle">
    <td align="center" width="50"> Position </td>
    <td align="center" width="350"> Artist </td>
    <td align="center" width="400"> Album Name </td>
    <td align="center" width="100"> Release Year </td>
    <td align="center" width="100"> Total Score </td>
  </tr>
  {% for album in albumlist %}
  <tr class="tablestyle2">
    <td align="right"><a href="{{ url_for('.showslide', index=album.pos )}}">{{ album.pos }}</a></td>
    <td><a href="{{ url_for('.showalbumsfromartist', artist=album.artist)}}">{{album.artist }}</a></td>
    <td><a href="{{ url_for('.showslide', index=album.pos) }}">{{ album.name }}</a></td>
    <td align="center"><a href="{{ url_for('.showalbumsfromyear', x=album.year) }}">{{ album.year }}</td>
    <td>{{ album.final_score }}</td>
  </tr>
  {% endfor %}
</table>
<center> data copyright by tsort.info - fileversion 2.6.0009 -
{% endblock %}
